.langSlider {
    display: flex;
    overflow: hidden;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 8px;
  }
  
  .langItem {
    flex: 1;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .langItem.active {
    background-color: #ccc;
    color: white;
  }
  
  .text.hidden {
    display: none;
  }

  .hidden {
    visibility: hidden;
  }
  