@media print {
    .left, .text, .contact {
      color: black !important;
    }

    #education-panel, #experience-panel, .education_wrap, .education {
        display: block !important;
        visibility: visible !important;
    }
  }

  #avatar {
    max-width: 200px !important; /* Adjust the max-width for larger smartphones */
}

.img_holder {
    width: 150px !important; /* Default width for larger smartphones */
    height: 150px !important; /* Default width for larger smartphones */
}