@media only screen and (max-width: 740px) {
	.contact div { font-size: 0.8em !important;}
	.langItem div, .langSlider div {
	font-size: 1.3em;
}

	 .gradient, .resume, .right {margin: 0; padding: 0; width: 100%; font-size: 1.3em;}
	h1 { font-size: 4.5em; }
	h3 { font-size: 2.2em; }
	h2 { display: block; text-align: center; }
	#info { float: none; display: block; text-align: center; }
	p { padding: 0; }
	.resume { width: 100%; }
}

@media only screen and (max-width: 570px) {
	.contact div { font-size: 0.8em !important; 
}
.langItem div, .langSlider div {
	font-size: 1.3em;
}
.langSlider
	ul li {
		display: inline-block; 
		padding-left: 15px; 
		width: 280px; 
		background-position: -5px 0px;
		margin-right: 6px; 
		line-height: 1.7em;
	}

	.title {
		font-size: 13px !important;
	}

	.left {
		width: 100px !important;
	}
}

@media only screen and (max-width: 480px) {
	.contact div { font-size: 0.8em !important;}
	.langItem div, .langSlider div {
	font-size: 1.3em;
}

    .gradient, .resume, .right {margin: 0; padding: 0; width: 100%; font-size: 1.3em;}
	ul li { width: 350px; }
	.title {
		font-size: 8px !important;
	}

	.left {
		width: 75px !important;
	}
}

@media only screen and (max-width: 320px) {
	.contact div { font-size: 0.8em !important;}
	.langItem div, .langSlider div {
	font-size: 1.3em;
}

 .gradient, .resume, .right {margin: 0; padding: 0; width: 100%;}
	* { margin: 0 10px;
		font-size: 1.3em;	 }
		ul li { width: 300px; }

}

/** iPhone only **/
@media screen and (max-device-width: 480px) {
	.contact div { font-size: 0.8em !important;}
	.langItem div, .langSlider div {
	font-size: 1.3em !important;
	width: 120%;
}

	.gradient, .resume, .right {margin: 0; padding: 0; width: 100%;}
	ul li { width: 100%; }
	p { font-size: 0.9em; }
	.about, .switch-title div, .experience-title, .education-title { font-size: 1.3em !important; padding: 0; margin: 0;}
	.date { font-size: 28px; }
	.title {
		font-size: 9px !important;
	}


}
/* Other effects: */
.img_holder {
	opacity:100%;
	transition:opacity 2s
  }
  
.img_holder:hover {
	opacity: 50%;
  }

.icon {
	opacity:100%;
	transition:opacity 2s
  }
  
 .icon:hover {
	opacity: 30%;
  }

/* Media Queries for different screen widths */
@media (max-width: 320px) { /* Smallest smartphones */
    #avatar {
        max-width: 50px !important; /* Adjust the max-width for smaller screens */
    }

    .img_holder {
        width: 70px !important; /* Adjust the width for smaller screens */
    }
}

@media (min-width: 180px) and (max-width: 450px) { /* Typical smartphone widths */
    #avatar {
        max-width: 80px !important; /* Default size for most smartphones */
    }

    .img_holder {
        width: 75px !important; /* Default width for most smartphones */
    }
}

@media (min-width: 415px) and (max-width: 768px) { /* Larger smartphones and smaller tablets */
    #avatar {
        max-width: 75px !important; /* Adjust the max-width for larger smartphones */
    }

    .img_holder {
        width: 65px !important; /* Default width for larger smartphones */
    }
}

/* Add more media queries and adjust values as needed */
