@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

body {
	display: grid;
	align-items: center;
	justify-content: center;
	height: 100%;
	background: linear-gradient(to bottom, #f9f9f9, #e6e6e6);
}

#profile-pic-container {
    margin: 45px;
    position: relative; /* Set position to relative for mouse tracking */
    overflow: hidden; /* Hide any overflow to make zoom effect visible */
}

.img_holder {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out; /* Add transition for smooth zoom effect */
    transform-origin: center center; /* Set the zooming point to the center of the image */
}

.img_holder::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    border: 10px solid white;
    border-radius: 50%;
    z-index: -1;
    box-sizing: content-box;
    padding: 5px;
}

#avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out; /* Add transition for smooth zoom effect */
}

.zoomed {
    transform: scale(4.9); /* Adjust the scale factor to control the zoom level */
}


.resume {
	width: 800px;
	background: #fff;
	display: flex;
	border-radius: 10px;
	/* font-size: 7px; */
}

.left {
	letter-spacing: .1.2rem;
	font-weight: lighter !important;
	background: rgba(160, 160, 160, 0.733);
	width: 350px;
	padding: 0 20px;
	border-radius: 10px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.li_wrap {
	display: inline-block;
	margin-right: 5px !important;
}


.right {
	width: calc(100% - 250px);
	border-radius: 10px;
}

.left .img_holder {
	text-align: center !important;
	padding: 20px 0;
}

.left .img_holder img {
	width: 200px;
	border-radius: 30px;
}

.pb {
	padding-bottom: 20px;
}

.title {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-bottom: 10px;
	color: #b8977c;
	position: relative;
	text-align: right;
	margin-bottom: 15px;
}

.title:before {
	content: "";
	position: absolute;
	top: 35px;
	right: 0;
	width: 50px;
	height: 3px;
	background: #b8977c;
}

.left .icon {
	font-size: 20px;
	color: #858585;
}

.left .text {
	color: #858585;
	text-transform: uppercase;
	font-size: 11px;
}

.contact .li_wrap {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 15px;
}

.contact .li_wrap .icon {
	width: 50px;
	height: 50px;
	background: #ebe9e9;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
}

.contact .li_wrap .text {
	width: calc(100% - 50px);
	color: #fff;
	letter-spacing: 1px;
	font-size: 8px;
}

.skills ul,
.hobbies ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.skills ul li,
.hobbies ul li {
	margin-right: 15px;
}

.skills .li_wrap,
.hobbies .li_wrap {
	width: 100px;
	height: 100px;
	margin-bottom: 15px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.skills .li_wrap {
	text-decoration: none !important;
	background: #fff;
}

.skills .li_wrap .text,
.hobbies .li_wrap .text {
	margin-top: 5px;
	text-decoration: none !important;
}

.hobbies .li_wrap {
	border: 2px solid #a1a1a1;
}

.hobbies .li_wrap .icon,
.hobbies .li_wrap .text {
	color: #777777;
}

.hobbies .li_wrap:hover {
	background: #f9f9f9;
}

.hobbies .li_wrap:hover .icon,
.hobbies .li_wrap:hover .text {
	color: #858585;
}

/* SKILLS HOVER */
.skills .li_wrap:hover {
	background: #858585;
}

.skills .li_wrap:hover .icon,
.skills .li_wrap:hover .text {
	color: #f9f9f9 !important;
}

/* LINK & LINK HOVER */
a {
	text-decoration: none !important;
	color: #858585;
}

a:hover {
	text-decoration: none !important;
	color: #fff;
}

/* end link & text hover: skills */

.header {
	background: #292b2f;
	padding: 15px 30px;
	color: #fff;
	height: fit-content;
	z-index: 100;
	border-top-right-radius: 10px;

}

.header .name {
	font-size: 52px;
	text-transform: uppercase;
	font-weight: 700;
	color: #858585;
}

.header .role {
	font-weight: 300;
	font-size: 20px;
}

.header .about {
	margin-top: 20px;
	line-height: 26px;
	font-size: 12px;
}

.right_inner {
	padding: 10px;
	color: #292b2f;
}

.right_inner .education {
	margin-top: 30px;
}

.right_inner .li_wrap {
	display: flex;
	margin-bottom: 15px;
}

.right_inner .li_wrap .date {
	width: 125px;
	color: #858585;
}

.date {
	font-size: 10px;
	display: inline;
}

.right_inner .li_wrap .info {
	width: calc(100% - 125px);
	padding-left: 25px;
	position: relative;
}

.right_inner .li_wrap .info_title {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	color: #858585;
}

.right_inner .li_wrap .info_com {
	font-weight: 300;
	font-size: 12px !important;
	margin-top: 3px;
}

.right_inner .li_wrap .info_cont {
	margin-top: 15px;
}

.right_inner .li_wrap .info:before {
	content: "";
	position: absolute;
	top: 3px;
	left: 0;
	width: 10px;
	height: 10px;
	background: #858585;
	border-radius: 50%;
}

.right_inner .li_wrap .info:after {
	content: "";
	position: absolute;
	top: 10px;
	left: 4px;
	width: 2px;
	height: 90%;
	background: #858585;
}

/* PRINT BUTTON */
button.print-button {
	width: 98%;
	height: 98%;
}

span.print-icon,
span.print-icon::before,
span.print-icon::after,
button.print-button:hover .print-icon::after {
	border: solid 2px #ddb595;
}

span.print-icon::after {
	border-width: 1px;
}

button.print-button {
	position: relative;
	padding: 0;
	border: 0;
	border: none;
	background: transparent;
}

span.print-icon,
span.print-icon::before,
span.print-icon::after,
button.print-button:hover .print-icon::after {
	box-sizing: border-box;
	background-color: #f9f9f9;
}

span.print-icon {
	position: relative;
	display: inline-block;
	padding: 0;
	margin-top: 20%;
	width: 60%;
	height: 35%;
	background: linear-gradient(45deg, #c6a386 45%, #c6a386 36%, #ddb595 100%);
	border-radius: 10% 10% 0 0;
}

span.print-icon::before {
	content: " ";
	position: absolute;
	bottom: 100%;
	left: 12%;
	right: 12%;
	height: 110%;

	transition: height .3s .18s;
}

span.print-icon::after {
	content: " ";
	position: absolute;
	top: 55%;
	left: 12%;
	right: 12%;
	height: 0%;
	background: #ddb595;
	background-repeat: no-repeat;
	background-size: 70% 90%;
	background-position: center;
	background-image: linear-gradient(to top,
			#ddb595 0, rgb(134, 116, 85) 14%,
			#858585 28%,
			#ddb595 28%, #ddb595 42%,
			#858585 42%, #858585 56%,
			#ddb595 56%, #ddb595 70%,
			#858585 70%, #858585 84%,
			#ddb595 84%, #ddb595 100%);

	transition: height .3s, border-width 0s .3s, width 0s .3s;
}


.icon {
	opacity: 100%;
	transition: opacity 2s
}

.icon:hover {
	opacity: 30%;
}


button.print-button:hover {
	cursor: copy;
}

button.print-button:hover .print-icon::before {
	height: 0px;
	transition: height .2s;
}

button.print-button:hover .print-icon::after {
	height: 120%;
	transition: height .2s .15s, border-width 0s .16s;
}

/* css gradient borders */
.container {
	border-radius: 10px;
	max-width: auto;
	padding: 2px;
	position: relative;
	z-index: 1;
	background-color: #ddb595;
	background-image: linear-gradient(43deg, #9095af 0%, #ffab4a 46%, #ddb595 100%);
	margin-right: 25px;
	filter: brightness(120%);
	overflow: hidden; /* Ensures the animation stays within the container */
	box-shadow: 0 0 5px rgba(65, 88, 208, 0.3), 0 0 5px rgba(200, 80, 192, 0.3), 0 0 5px rgba(221, 181, 149, 0.3);
  }
  
  .container:before {
	border-radius: 10px;
	z-index: -1;
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-image: linear-gradient(43deg, #9ba3c9 0%, #858585 46%, #ddb595 100%);
	filter: blur(20px);
	animation: flowing-edges 4s infinite linear;
	transform: translateX(-100%);
	box-shadow: 0 0 5px rgba(65, 88, 208, 0.3), 0 0 5px rgba(200, 80, 192, 0.3), 0 0 5px rgba(221, 181, 149, 0.3);
  }
  
  @keyframes flowing-edges {
	0% {
	  transform: translateX(-100%);
	}
	100% {
	  transform: translateX(100%);
	}
  }

  .boxshadow {
	border-radius: 10px;
	z-index: -1;
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 10px;
	top: 0;
	background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #ddb595 100%);
	filter: blur(20px);
  }

.gradient {
	color: black;
}

.wrapper {
	padding: 50px;
}

/* Copy paste icon */

.copy-icon {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	color: #e4dede;
	cursor: pointer;
}

.copy-icon {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	position: relative;
	cursor: pointer;
}

.copy-icon:hover:after {
	content: 'Copy';
	position: absolute;
	top: -20px;
	left: 50%;
	transform: translateX(-50%);
	background: #b8977c;
	color: #fff;
	font-size: 10px;
	padding: 2px 6px;
	border-radius: 3px;
	white-space: nowrap;
}

.copy-icon.clicked:after {
	content: 'Copied!';
}

.ping {
	font-size: 13px !important;
}

/* TOOLTIP */

.tooltip {
	position: relative;
	display: inline-block;
	font-size: 11px;
	color: #fff;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.tooltiptext {
	visibility: hidden;
	width: 200px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 4px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #333 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.questionmark {
	display: flex;
	justify-content: center;
	align-items: center !important;
	text-align: left !important;
	margin: 0;
	padding: 0;
}


/* Default style for the qr-div */
.qr-div {
    display: none; /* Initially hide the div */
}

/* Media query for print styles */
@media print {
    .qr-div {
        display: block; /* Display the div when printing */
    }

	#qr {
		width: 250px;
	}

	.tooltip:hover .tooltiptext {
		visibility: hidden;
	}
}